Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

Create stable/ussuri for adjutant
  deliverables/ussuri/adjutant.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for karbor
  deliverables/ussuri/karbor.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for karbor-dashboard
  deliverables/ussuri/karbor-dashboard.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for monasca-statsd
  deliverables/ussuri/monasca-statsd.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for manila-ui
  deliverables/ussuri/manila-ui.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for os-vif
  deliverables/ussuri/os-vif.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for pycadf
  deliverables/ussuri/pycadf.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create stable/ussuri for python-openstackclient
  deliverables/ussuri/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Branch devstack-plugin-* deliverables
  deliverables/ussuri/devstack-plugin-amqp1.yaml
  deliverables/ussuri/devstack-plugin-container.yaml
  deliverables/ussuri/devstack-plugin-kafka.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Tag and branch monasca-thresh
  deliverables/ussuri/monasca-thresh.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Tag and branch missed neutron RC1s
  deliverables/ussuri/networking-midonet.yaml
  deliverables/ussuri/networking-sfc.yaml
  deliverables/ussuri/neutron-fwaas.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add some branch prep steps to the process doc
  doc/source/reference/process.rst
Due: none

Release manila-tempest-plugin for ussuri
  deliverables/ussuri/manila-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Branch other puppet openstack repos for ussuri
  deliverables/ussuri/puppet-openstack-integration.yaml
  deliverables/ussuri/puppet-openstack_spec_helper.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Horizon 15.3.0
  deliverables/stein/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

horizon ussuri release highlight
  deliverables/ussuri/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

add some doc about process on R-2
  doc/source/reference/process.rst
Due: none

add doc related to R-2 and requirements update
  doc/source/reference/process.rst
Due: none

Release manila 8.1.2 off of stable/stein
  deliverables/stein/manila.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

branch requirements repo for ussuri
  deliverables/ussuri/requirements.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Glance RC2 for Ussuri
  deliverables/ussuri/glance.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-prometheus-exporter for ussuri
  deliverables/ussuri/ironic-prometheus-exporter.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release virtualbmc 2.1.0 and sushy-tools 0.9.0
  deliverables/_independent/sushy-tools.yaml
  deliverables/_independent/virtualbmc.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[doc][process R-2] clarifying our role
  doc/source/reference/process.rst
Due: none

add useful links for R-2 3rd step is doc
  doc/source/reference/process.rst
Due: none

Create stable/ussuri for ironic
  deliverables/ussuri/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release reno 3.1.0
  deliverables/_independent/reno.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Cinder Ussuri RC-2
  deliverables/ussuri/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release stable branches for Kolla and Kolla-Ansible
  deliverables/stein/kolla-ansible.yaml
  deliverables/stein/kolla.yaml
  deliverables/train/kolla-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Testing the Final Release Plumbing
  deliverables/ussuri/release-test.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release monasca-persister RC2 for Ussuri
  deliverables/ussuri/monasca-persister.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[feat] Add final release canary mode
  openstack_releases/cmds/propose_final_releases.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release tacker RC2 for Ussuri
  deliverables/ussuri/tacker.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release nova RC2 for Ussuri
  deliverables/ussuri/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[doc] R1 3rd point - Testing the Final Release Plumbing
  doc/source/reference/process.rst
Due: none

Display more help to the new-release wrapper
  tools/new_release.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

Release 5.3.2 for stable/train
  deliverables/train/paunch.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-python-agent-builder 2.0.0
  deliverables/_independent/ironic-python-agent-builder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release horizon 18.3.2 (ussuri)
  deliverables/ussuri/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
