Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

Release OpenStack-Ansible Ussuri
  deliverables/ussuri/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

sahara: tag ocata as EOL
  deliverables/ocata/python-saharaclient.yaml
  deliverables/ocata/sahara-dashboard.yaml
  deliverables/ocata/sahara-extra.yaml
  deliverables/ocata/sahara-image-elements.yaml
  deliverables/ocata/sahara.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

sahara: tag pike as EOL
  deliverables/pike/python-saharaclient.yaml
  deliverables/pike/sahara-dashboard.yaml
  deliverables/pike/sahara-extra.yaml
  deliverables/pike/sahara-image-elements.yaml
  deliverables/pike/sahara.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final RC patch for cloudkitty
  deliverables/victoria/cloudkitty.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final RC patch for senlin-dashboard
  deliverables/victoria/senlin-dashboard.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final RC patch for trove
  deliverables/victoria/trove.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add recent release note links
  deliverables/victoria/bifrost.yaml
  deliverables/victoria/futurist.yaml
  deliverables/victoria/heat-dashboard.yaml
  deliverables/victoria/ironic-inspector.yaml
  deliverables/victoria/ironic-prometheus-exporter.yaml
  deliverables/victoria/ironic-python-agent.yaml
  deliverables/victoria/ironic-ui.yaml
  deliverables/victoria/ironic.yaml
  deliverables/victoria/networking-sfc.yaml
  deliverables/victoria/neutron-lib.yaml
  deliverables/victoria/neutron-vpnaas-dashboard.yaml
  deliverables/victoria/octavia-dashboard.yaml
  deliverables/victoria/python-cinderclient.yaml
  deliverables/victoria/python-openstackclient.yaml
  deliverables/victoria/sahara-plugin-ambari.yaml
  deliverables/victoria/sahara-plugin-cdh.yaml
  deliverables/victoria/sahara-plugin-mapr.yaml
  deliverables/victoria/sahara-plugin-spark.yaml
  deliverables/victoria/sahara-plugin-storm.yaml
  deliverables/victoria/sahara-plugin-vanilla.yaml
  deliverables/victoria/sahara.yaml
  deliverables/victoria/swift.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Stable releases for Swift
  deliverables/train/swift.yaml
  deliverables/ussuri/swift.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Victoria] Release Horizon 18.6.1
  deliverables/victoria/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final RC patch for tacker
  deliverables/victoria/tacker.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Cyborg RC2 for Victoria
  deliverables/victoria/cyborg.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New bugfix release oslo.privsep for train.
  deliverables/train/oslo.privsep.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic 16.0.1 for victoria
  deliverables/victoria/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-python-agent 6.4.1 for Victoria
  deliverables/victoria/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update Kolla Victoria cycle highlights
  deliverables/victoria/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Bifrost 6.0.5 for Stein
  deliverables/stein/bifrost.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Adding Daniel Bengtsson as release liaison for oslo
  data/release_liaisons.yaml
Due: openstack-tox-validate

Release IPA Builder 2.3.0
  deliverables/_independent/ironic-python-agent-builder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Mark Victoria as released
  data/series_status.yaml
  doc/source/victoria/index.rst
  openstack_releases/defaults.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Update next wallaby phase to be maintained
  data/series_status.yaml
Due: openstack-tox-validate

Adding notes to process
  doc/source/reference/process.rst
Due: none

Add latest release note landing pages
  deliverables/victoria/masakari-monitors.yaml
  deliverables/victoria/masakari.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsdbapp 1.6.0
  deliverables/victoria/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release octavia 6.1.0 and 5.0.3
  deliverables/train/octavia.yaml
  deliverables/ussuri/octavia.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New bugfix release for oslo.messaging.
  deliverables/victoria/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New bugfix release for pbr.
  deliverables/_independent/pbr.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

init-series: Skip unrelease comment for trailing
  openstack_releases/cmds/init_series.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Update release and branch to Victoria for tripleo-upgrade.
  deliverables/_independent/tripleo-upgrade.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Adding PTL Cycle Information
  doc/source/reference/process.rst
Due: none

New bugfix release for openstackdocsthemes.
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New bugfix release for oslo.messaging for ussuri.
  deliverables/ussuri/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New feature release for oslo.messaging on wallaby.
  deliverables/wallaby/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Automate review inbox dashboard link
  doc/source/_exts/reviewinbox.py
  doc/source/conf.py
  doc/source/reference/reviewer_guide.rst
Due: none

TripleO client and common repos release and branch stable/victoria
  deliverables/victoria/python-tripleoclient.yaml
  deliverables/victoria/tripleo-common.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

ignore trailing projects in R-2
  doc/source/reference/process.rst
Due: none

New feature release for oslo.utils on wallaby.
  deliverables/wallaby/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
