Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-check-approval
    parent: openstack-tox
    files:
      - ^deliverables/.*$
    timeout: 360
    vars:
      tox_envlist: check_approval
      tox_extra_args: "{{ zuul.change }}"

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    experimental:
      jobs:
        - releases-check-approval
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Bobcat-2 release for python-troveclient
  deliverables/bobcat/python-troveclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Bobcat-2 release for tosca-parser
  deliverables/bobcat/tosca-parser.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Remove networking-odl from Bobcat release
  deliverables/bobcat/networking-odl.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[neutron] Transition networking-odl Ussuri release to EOL
  deliverables/ussuri/networking-odl.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Recommend to use format-yaml for schedule yaml
  doc/source/reference/process.rst
Due: none

Deprecate Tripleo independent deliverables
  deliverables/_independent/ansible-role-chrony.yaml
  deliverables/_independent/ansible-role-collect-logs.yaml
  deliverables/_independent/ansible-role-container-registry.yaml
  deliverables/_independent/ansible-role-openstack-operations.yaml
  deliverables/_independent/ansible-role-redhat-subscription.yaml
  deliverables/_independent/ansible-role-tripleo-modify-image.yaml
  deliverables/_independent/openstack-virtual-baremetal.yaml
  deliverables/_independent/os-apply-config.yaml
  deliverables/_independent/os-collect-config.yaml
  deliverables/_independent/os-net-config.yaml
  deliverables/_independent/os-refresh-config.yaml
  deliverables/_independent/puppet-pacemaker.yaml
  deliverables/_independent/puppet-tripleo.yaml
  deliverables/_independent/python-tripleoclient.yaml
  deliverables/_independent/tripleo-ansible.yaml
  deliverables/_independent/tripleo-common.yaml
  deliverables/_independent/tripleo-docs.yaml
  deliverables/_independent/tripleo-heat-templates.yaml
  deliverables/_independent/tripleo-image-elements.yaml
  deliverables/_independent/tripleo-ipsec.yaml
  deliverables/_independent/tripleo-operator-ansible.yaml
  deliverables/_independent/tripleo-puppet-elements.yaml
  deliverables/_independent/tripleo-quickstart.yaml
  deliverables/_independent/tripleo-upgrade.yaml
  deliverables/_independent/tripleo-validations.yaml
  deliverables/_independent/validations-common.yaml
  deliverables/_independent/validations-libs.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update list_weeks to use the release yamlutils
  tools/list_weeks.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Add 2024.1/"cantaloupe" election events to the 2023.2/bobcat schedule
  doc/source/bobcat/schedule.rst
  doc/source/bobcat/schedule.yaml
Due: none

Run format-yaml over doc/source/bobcat/schedule.yaml
  doc/source/bobcat/schedule.yaml
Due: none

Fix duplicate key in bobcat schedule
  doc/source/bobcat/schedule.yaml
Due: none

Bobcat-2 release for python-ironicclient
  deliverables/bobcat/python-ironicclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

release osprofiler 4.1.0
  deliverables/_independent/osprofiler.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[yoga] release oslo.messaging 12.13.1
  deliverables/yoga/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[zed] release oslo.messaging 14.0.1
  deliverables/zed/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Bobcat-2 release for python-glanceclient
  deliverables/bobcat/python-glanceclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[oslo] Transition Rocky to End of Life
  deliverables/rocky/devstack-plugin-amqp1.yaml
  deliverables/rocky/devstack-plugin-kafka.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Packaging-rpm] Transition Rocky to End of Life
  deliverables/rocky/rpm-packaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[requirements] Transition Rocky to End of Life
  deliverables/rocky/requirements.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Quality Assurance] Transition Rocky to End of Life
  deliverables/rocky/devstack-plugin-container.yaml
  deliverables/rocky/devstack.yaml
  deliverables/rocky/grenade.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Bobcat-2 release for metalsmith
  deliverables/bobcat/metalsmith.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release designate 16.0.1 for Antelope
  deliverables/antelope/designate.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Glance] Bobcat milestone 2 release
  deliverables/bobcat/glance.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[OpenStackAnsible] Transition Rocky to End of Life
  deliverables/rocky/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release horizon 23.2.0(bobcat)
  deliverables/bobcat/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Bobcat-2 release for python-manilaclient
  deliverables/bobcat/python-manilaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Tag monthly kolla stable releases
  deliverables/antelope/kayobe.yaml
  deliverables/antelope/kolla-ansible.yaml
  deliverables/antelope/kolla.yaml
  deliverables/yoga/ansible-collection-kolla.yaml
  deliverables/yoga/kayobe.yaml
  deliverables/yoga/kolla-ansible.yaml
  deliverables/yoga/kolla.yaml
  deliverables/zed/ansible-collection-kolla.yaml
  deliverables/zed/kayobe.yaml
  deliverables/zed/kolla-ansible.yaml
  deliverables/zed/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add a Sorting function.
  doc/source/_exts/deliverables.py
  openstack_releases/series_sorting.py
  openstack_releases/tests/test_sorting.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

New stable release for Octavia Yoga
  deliverables/yoga/octavia.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Antelope
  deliverables/antelope/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update XStatic-Angular-Lrdragndrop to 1.0.2.5
  deliverables/_independent/xstatic-angular-lrdragndrop.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update XStatic-Angular-Lrdragndrop to 1.0.2.6
  deliverables/_independent/xstatic-angular-lrdragndrop.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

EOL Nova stable/train release
  deliverables/train/nova.yaml
  deliverables/train/os-vif.yaml
  deliverables/train/osc-placement.yaml
  deliverables/train/placement.yaml
  deliverables/train/python-novaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release octavia 11.0.1 for Zed
  deliverables/zed/octavia.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[doc] Fix trailing release names
  doc/source/bobcat/schedule.rst
  doc/source/yoga/schedule.rst
Due: none

OpenStack 2024.1 Caracal release schedule
  data/series_status.yaml
  doc/source/bobcat/schedule.rst
  doc/source/caracal/highlights.rst
  doc/source/caracal/index.rst
  doc/source/caracal/schedule.rst
  doc/source/caracal/schedule.yaml
  doc/source/index.rst
Due: openstack-tox-validate

Fix release id fetch for validate_series_open
  openstack_releases/cmds/list_deliverables.py
  openstack_releases/cmds/new_release.py
  openstack_releases/cmds/propose_final_releases.py
  openstack_releases/cmds/propose_library_branches.py
  openstack_releases/cmds/validate.py
  openstack_releases/gitutils.py
  openstack_releases/series_status.py
  openstack_releases/tests/test_redirections.py
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

[Yoga] Release aodh
  deliverables/yoga/aodh.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Yoga] Release bifrost
  deliverables/yoga/bifrost.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tooz 4.2.0
  deliverables/_independent/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Yoga] Release cloudkitty
  deliverables/yoga/cloudkitty.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate
