Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

TripleO-Common Ussuri GA
  deliverables/ussuri/tripleo-common.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New Neutron release for stable/train
  deliverables/train/networking-ovn.yaml
  deliverables/train/neutron.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New Neutron release for stable/stein
  deliverables/stein/networking-ovn.yaml
  deliverables/stein/neutron.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsdbapp 1.3.0
  deliverables/victoria/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsdbapp 1.2.0
  deliverables/ussuri/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

TripleO GA Ussuri
  deliverables/ussuri/os-apply-config.yaml
  deliverables/ussuri/os-net-config.yaml
  deliverables/ussuri/paunch.yaml
  deliverables/ussuri/puppet-tripleo.yaml
  deliverables/ussuri/tripleo-ansible.yaml
  deliverables/ussuri/tripleo-heat-templates.yaml
  deliverables/ussuri/tripleo-image-elements.yaml
  deliverables/ussuri/tripleo-puppet-elements.yaml
  deliverables/ussuri/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Cap jsonschema 3.2.0 as the minimal version
  requirements.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release python-magnumclient 3.1.0
  deliverables/victoria/python-magnumclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

pymod2pkg: release 0.24
  deliverables/_independent/pymod2pkg.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release heat 13.0.2 and 12.1.0
  deliverables/stein/heat.yaml
  deliverables/train/heat.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 2.1.0 of osc-lib
  deliverables/victoria/osc-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release openstackdocstheme 2.2.2
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo projects for victoria 2020-05-29
  deliverables/victoria/castellan.yaml
  deliverables/victoria/oslo.cache.yaml
  deliverables/victoria/oslo.config.yaml
  deliverables/victoria/oslo.db.yaml
  deliverables/victoria/oslo.log.yaml
  deliverables/victoria/oslo.rootwrap.yaml
  deliverables/victoria/oslo.service.yaml
  deliverables/victoria/oslo.vmware.yaml
  deliverables/victoria/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo projects for stein 2020-05-29
  deliverables/stein/oslo.log.yaml
  deliverables/stein/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo projects for train 2020-05-29
  deliverables/train/oslo.log.yaml
  deliverables/train/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.log 4.1.2 for ussuri
  deliverables/ussuri/oslo.log.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Set ocata unmaintained transition date
  data/series_status.yaml
Due: openstack-tox-validate

New tag for tripleo-operator-ansible
  deliverables/_independent/tripleo-operator-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release glance_store 0.28.1
  deliverables/stein/glance-store.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create Ussuri branches for OpenStack-Ansible
  deliverables/ussuri/openstack-ansible-roles.yaml
  deliverables/ussuri/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tripleo-operator-ansible 0.2.1
  deliverables/_independent/tripleo-operator-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Train
  deliverables/train/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 4.3.0 of ironic-lib
  deliverables/victoria/ironic-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Postpone Stein Extended Maintenance transition by 4 weeks
  data/series_status.yaml
Due: openstack-tox-validate

Switch to victoria job template
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Add std-with-versions stable-branch-type
  doc/source/reference/using.rst
  openstack_releases/cmds/validate.py
  openstack_releases/schema.yaml
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Test intermediate stable branching
  deliverables/victoria/release-test.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release python-troveclient 4.0.0 for Victoria
  deliverables/victoria/python-troveclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add note for Extended Maintenance
  doc/source/_themes/releases/series_status_table.tmpl
  doc/source/index.rst
Due: none

Release pymod2pkg 0.25.0
  deliverables/_independent/pymod2pkg.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

os-brick point releases (ussuri and victoria)
  deliverables/ussuri/os-brick.yaml
  deliverables/victoria/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

oslo.log 4.1.3 (ussuri)
  deliverables/ussuri/oslo.log.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

os-brick point releases (stein and train)
  deliverables/stein/os-brick.yaml
  deliverables/train/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Oslo releases for 2020-06-03
  deliverables/victoria/automaton.yaml
  deliverables/victoria/debtcollector.yaml
  deliverables/victoria/futurist.yaml
  deliverables/victoria/mox3.yaml
  deliverables/victoria/oslo.cache.yaml
  deliverables/victoria/oslo.concurrency.yaml
  deliverables/victoria/oslo.context.yaml
  deliverables/victoria/oslo.i18n.yaml
  deliverables/victoria/oslo.limit.yaml
  deliverables/victoria/oslo.log.yaml
  deliverables/victoria/oslo.messaging.yaml
  deliverables/victoria/oslo.middleware.yaml
  deliverables/victoria/oslo.policy.yaml
  deliverables/victoria/oslo.privsep.yaml
  deliverables/victoria/oslo.reports.yaml
  deliverables/victoria/oslo.serialization.yaml
  deliverables/victoria/oslo.upgradecheck.yaml
  deliverables/victoria/oslo.utils.yaml
  deliverables/victoria/oslo.versionedobjects.yaml
  deliverables/victoria/oslotest.yaml
  deliverables/victoria/osprofiler.yaml
  deliverables/victoria/stevedore.yaml
  deliverables/victoria/taskflow.yaml
  deliverables/victoria/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Handle degoverned teams in highlights extension
  doc/source/_exts/deliverables.py
Due: none

Update release and branch to Ussuri for tripleo-upgrade.
  deliverables/_independent/tripleo-upgrade.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release cinder 16.1.0
  deliverables/ussuri/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release cinder 15.2.0
  deliverables/train/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release cinder 14.1.0
  deliverables/stein/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add Cinder-specific dates for Victoria schedule
  doc/source/victoria/schedule.rst
  doc/source/victoria/schedule.yaml
Due: none

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
