Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-check-approval
    parent: openstack-tox
    files:
      - ^deliverables/.*$
    timeout: 360
    vars:
      tox_envlist: check_approval
      tox_extra_args: "{{ zuul.change }}"

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    experimental:
      jobs:
        - releases-check-approval
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Branch stable/ussuri from current master
  deliverables/ussuri/rpm-packaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release hacking 3.0.1
  deliverables/_independent/hacking.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update kolla cycle highlight for Ussuri
  deliverables/ussuri/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Test release with brand-new mirror-on-tags jobs
  deliverables/ussuri/release-test.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Use updated git cache dir default path
  tools/clone_repo.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Train
  deliverables/train/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release puppet-ceph 3.1.1
  deliverables/_independent/puppet-ceph.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update missing cmd to follow redirects
  openstack_releases/cmds/missing.py
  openstack_releases/links.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Update release week process
  doc/source/reference/process.rst
Due: none

Mark Ussuri as released
  data/series_status.yaml
  doc/source/ussuri/index.rst
  openstack_releases/defaults.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release openstackdocstheme 2.1.0
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release openstackdocstheme 2.1.1
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release hacking 3.1.0
  deliverables/_independent/hacking.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Tag missed tempest plugins
  deliverables/ussuri/cloudkitty-tempest-plugin.yaml
  deliverables/ussuri/kuryr-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release openstackdocstheme 2.1.2
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Change cyborg launchpad to storyboard
  deliverables/victoria/cyborg-tempest-plugin.yaml
  deliverables/victoria/cyborg.yaml
  deliverables/victoria/python-cyborgclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[fix] list-deliverables when branch type is undefined
  openstack_releases/cmds/list_deliverables.py
  openstack_releases/deliverable.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release openstackdocstheme 2.2.0
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Remove the Tricircle release
  data/release_liaisons.yaml
  deliverables/victoria/python-tricircleclient.yaml
  deliverables/victoria/tricircle.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add extra kayobe repos
  deliverables/ussuri/kayobe.yaml
  deliverables/victoria/kayobe.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

updated Ussuri TripleO GA
  deliverables/_independent/ansible-config_template.yaml
  deliverables/_independent/ansible-role-container-registry.yaml
  deliverables/_independent/ansible-role-redhat-subscription.yaml
  deliverables/_independent/ansible-role-tripleo-modify-image.yaml
  deliverables/ussuri/tripleo-ipsec.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Kolla 9.1.0 for Train
  deliverables/train/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Remove mriedem as placement release liaison
  data/release_liaisons.yaml
Due: openstack-tox-validate

Remove efried as placement release liaison
  data/release_liaisons.yaml
Due: openstack-tox-validate

Release ironic projects for Train
  deliverables/train/ironic-inspector.yaml
  deliverables/train/ironic-lib.yaml
  deliverables/train/ironic-prometheus-exporter.yaml
  deliverables/train/ironic-python-agent.yaml
  deliverables/train/python-ironic-inspector-client.yaml
  deliverables/train/python-ironicclient.yaml
  deliverables/train/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release openstackdocstheme 2.2.1
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

List the Victoria cycle signing key as current
  doc/source/index.rst
  doc/source/static/0x2426b928085a020d8a90d0d879ab7008d0896c8a.txt
Due: none

python-tripleoclient Ussuri GA
  deliverables/ussuri/python-tripleoclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release compute-hyperv 9.0.1 (Train)
  deliverables/train/compute-hyperv.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release os-win 5.0.2 (Ussuri)
  deliverables/ussuri/os-win.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create release 1.0.0 for puppet-pacemaker
  deliverables/_independent/puppet-pacemaker.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release compute-hyperv 10.0.1 (Ussuri)
  deliverables/ussuri/compute-hyperv.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release kolla projects RC1 for Ussuri
  deliverables/ussuri/kolla-ansible.yaml
  deliverables/ussuri/kolla-cli.yaml
  deliverables/ussuri/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

release-test 3.1.0
  deliverables/victoria/release-test.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsddbapp 0.17.3
  deliverables/train/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsddbapp 0.15.1
  deliverables/stein/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate
