Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

Correct a typo of an annotation
  openstack_releases/_redirections.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

nova: Release 19.3.0
  deliverables/stein/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update Summit to be virtual event
  doc/source/victoria/schedule.rst
Due: none

Release tripleo-operator-ansible
  deliverables/_independent/tripleo-operator-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Re-release recent xstatic packages
  deliverables/_independent/xstatic-dagre-d3.yaml
  deliverables/_independent/xstatic-dagre.yaml
  deliverables/_independent/xstatic-lodash.yaml
  deliverables/_independent/xstatic-moment-timezone.yaml
  deliverables/_independent/xstatic-moment.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

tripleo victoria-1 release
  deliverables/victoria/os-apply-config.yaml
  deliverables/victoria/os-net-config.yaml
  deliverables/victoria/puppet-tripleo.yaml
  deliverables/victoria/python-tripleoclient.yaml
  deliverables/victoria/tripleo-ansible.yaml
  deliverables/victoria/tripleo-common.yaml
  deliverables/victoria/tripleo-heat-templates.yaml
  deliverables/victoria/tripleo-image-elements.yaml
  deliverables/victoria/tripleo-puppet-elements.yaml
  deliverables/victoria/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

minor update release for tripleo ussuri
  deliverables/ussuri/os-apply-config.yaml
  deliverables/ussuri/os-net-config.yaml
  deliverables/ussuri/paunch.yaml
  deliverables/ussuri/puppet-tripleo.yaml
  deliverables/ussuri/python-tripleoclient.yaml
  deliverables/ussuri/tripleo-ansible.yaml
  deliverables/ussuri/tripleo-common.yaml
  deliverables/ussuri/tripleo-heat-templates.yaml
  deliverables/ussuri/tripleo-image-elements.yaml
  deliverables/ussuri/tripleo-puppet-elements.yaml
  deliverables/ussuri/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 4.3.1 of ironic-lib
  deliverables/victoria/ironic-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add newline between projects in std output format
  openstack_releases/cmds/list_unreleased_changes.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release python-troveclient 5.0.0 for Victoria
  deliverables/victoria/python-troveclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo for victoria - 2020-07-27
  deliverables/victoria/oslo.config.yaml
  deliverables/victoria/oslo.policy.yaml
  deliverables/victoria/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add some whitespaces on helps to fix rendering.
  openstack_releases/cmds/list_unreleased_changes.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Fix a bug on list_unreleased_changes during tag retrieving
  openstack_releases/cmds/list_unreleased_changes.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Victoria-2 Release for automaton
  deliverables/victoria/automaton.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for cliff
  deliverables/victoria/cliff.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for debtcollector
  deliverables/victoria/debtcollector.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for keystonemiddleware
  deliverables/victoria/keystonemiddleware.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for metalsmith
  deliverables/victoria/metalsmith.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for os-brick
  deliverables/victoria/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for python-designateclient
  deliverables/victoria/python-designateclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for python-karborclient
  deliverables/victoria/python-karborclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Victoria-2 Release for python-magnumclient
  deliverables/victoria/python-magnumclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Switch to PyYaml safe_load
  tools/aclissues.py
  tools/aclmanager.py
  tools/membership_freeze_test.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Update to latest hacking for pep8 checks
  openstack_releases/cmds/list_changes.py
  openstack_releases/cmds/validate.py
  openstack_releases/deliverable.py
  openstack_releases/gitutils.py
  openstack_releases/rst2txt.py
  openstack_releases/tests/fixtures.py
  test-requirements.txt
  tools/aclmanager.py
  tools/discover_branch_points.py
  tools/verify_branches_and_late_releases.py
  tox.ini
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

[manila] release 10.0.1 from stable/ussuri
  deliverables/ussuri/manila.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila] Tag ocata eol
  deliverables/ocata/manila-ui.yaml
  deliverables/ocata/manila.yaml
  deliverables/ocata/python-manilaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila] Tag pike eol
  deliverables/pike/manila-ui.yaml
  deliverables/pike/manila.yaml
  deliverables/pike/python-manilaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Train
  deliverables/train/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Glance] Victoria milestone 2 release
  deliverables/victoria/glance.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Cinder: EOL Pike
  deliverables/pike/cinder.yaml
  deliverables/pike/os-brick.yaml
  deliverables/pike/python-brick-cinderclient-ext.yaml
  deliverables/pike/python-cinderclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update Glance Release Liaison
  data/release_liaisons.yaml
Due: openstack-tox-validate

[manila] release 9.1.4 from stable/train
  deliverables/train/manila.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

release oslo for victoria - 2020-07-31
  deliverables/victoria/oslo.privsep.yaml
  deliverables/victoria/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

release oslo.messaging 12.1.2 for ussuri
  deliverables/ussuri/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release keystoneauth 4.2.1 for Victoria
  deliverables/victoria/keystoneauth.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Require latest governance parsing code
  requirements.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release os-brick 3.2.1
  deliverables/victoria/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 0.11.1 for sushy-tools
  deliverables/_independent/sushy-tools.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
