Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python35-jobs
      - openstack-python36-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases:
            timeout: 3600
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

heat-translator 1.3.1
  deliverables/stein/heat-translator.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update python-tempestconf to 2.2.0
  deliverables/_independent/python-tempestconf.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release os-service-types 1.7.0
  deliverables/_independent/os-service-types.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update cycle process based on PTG review
  doc/source/reference/process.rst
Due: none

Oslo stein releases for 2019-05-06
  deliverables/stein/oslo.cache.yaml
  deliverables/stein/taskflow.yaml
Due: releases-tox-list-changes, openstack-tox-validate

oslo.db 4.40.2
  deliverables/rocky/oslo.db.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo rocky releases for 2019-05-06
  deliverables/rocky/oslo.cache.yaml
  deliverables/rocky/oslo.messaging.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release mistralclient 3.8.1
  deliverables/stein/python-mistralclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Propose a new release of rally
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release cinderclient 4.0.2
  deliverables/rocky/python-cinderclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Nova-specific schedule items for Train
  doc/source/train/schedule.rst
  doc/source/train/schedule.yaml
Due: none

[blazar] create pike-em tag against final releases
  deliverables/pike/python-blazarclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[glance] create pike-em tag against final releases
  deliverables/pike/glance-store.yaml
  deliverables/pike/glance.yaml
  deliverables/pike/python-glanceclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[zaqar] create pike-em tag against final releases
  deliverables/pike/python-zaqarclient.yaml
  deliverables/pike/zaqar-ui.yaml
  deliverables/pike/zaqar.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[mistral] final releases for pike
  deliverables/pike/mistral-lib.yaml
  deliverables/pike/mistral.yaml
  deliverables/pike/python-mistralclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release cinderclient 4.2.0
  deliverables/stein/python-cinderclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[mistral] create pike-em tag against final releases
  deliverables/pike/mistral-lib.yaml
  deliverables/pike/mistral.yaml
  deliverables/pike/python-mistralclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[trove] create pike-em tag against final releases
  deliverables/pike/python-troveclient.yaml
  deliverables/pike/trove-dashboard.yaml
  deliverables/pike/trove.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[neutron] final releases for pike
  deliverables/pike/networking-bagpipe.yaml
  deliverables/pike/networking-bgpvpn.yaml
  deliverables/pike/networking-midonet.yaml
  deliverables/pike/networking-odl.yaml
  deliverables/pike/networking-ovn.yaml
  deliverables/pike/networking-sfc.yaml
  deliverables/pike/neutron-dynamic-routing.yaml
  deliverables/pike/neutron-fwaas-dashboard.yaml
  deliverables/pike/neutron-lib.yaml
  deliverables/pike/neutron.yaml
  deliverables/pike/ovsdbapp.yaml
  deliverables/pike/python-neutronclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[neutron] create pike-em tag against final releases
  deliverables/pike/networking-bagpipe.yaml
  deliverables/pike/networking-bgpvpn.yaml
  deliverables/pike/networking-midonet.yaml
  deliverables/pike/networking-odl.yaml
  deliverables/pike/networking-ovn.yaml
  deliverables/pike/networking-sfc.yaml
  deliverables/pike/neutron-dynamic-routing.yaml
  deliverables/pike/neutron-fwaas-dashboard.yaml
  deliverables/pike/neutron-fwaas.yaml
  deliverables/pike/neutron-lib.yaml
  deliverables/pike/neutron.yaml
  deliverables/pike/ovsdbapp.yaml
  deliverables/pike/python-neutronclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[OpenStackAnsible] create pike-em tag against final releases
  deliverables/pike/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[Telemetry] create pike-em tag against final releases
  deliverables/pike/aodh.yaml
  deliverables/pike/ceilometer.yaml
  deliverables/pike/ceilometermiddleware.yaml
  deliverables/pike/panko.yaml
  deliverables/pike/python-aodhclient.yaml
  deliverables/pike/python-ceilometerclient.yaml
  deliverables/pike/python-pankoclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[sahara] create pike-em tag against final releases
  deliverables/pike/python-saharaclient.yaml
  deliverables/pike/sahara-dashboard.yaml
  deliverables/pike/sahara-extra.yaml
  deliverables/pike/sahara-image-elements.yaml
  deliverables/pike/sahara.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Rename review.openstack.org to review.opendev.org
  doc/source/reference/process.rst
  doc/source/reference/reviewer_guide.rst
  doc/source/reference/using.rst
  openstack_releases/cmds/find_gerrit_acl_issues.py
  tools/aclmanager.py
  watched_queries.yml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

skip branch validation for independent EM and EOL tags
  openstack_releases/cmds/validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Release 0.28.0 of openstacksdk
  deliverables/train/openstacksdk.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[tripleo] final releases for pike
  deliverables/pike/instack-undercloud.yaml
  deliverables/pike/os-apply-config.yaml
  deliverables/pike/os-collect-config.yaml
  deliverables/pike/os-net-config.yaml
  deliverables/pike/puppet-tripleo.yaml
  deliverables/pike/python-tripleoclient.yaml
  deliverables/pike/tripleo-common.yaml
  deliverables/pike/tripleo-heat-templates.yaml
  deliverables/pike/tripleo-image-elements.yaml
  deliverables/pike/tripleo-puppet-elements.yaml
  deliverables/pike/tripleo-quickstart.yaml
  deliverables/pike/tripleo-ui.yaml
  deliverables/pike/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Cycle Highlight Deadline to Schedule
  doc/source/train/schedule.rst
  doc/source/train/schedule.yaml
Due: none

Final pike release
  deliverables/pike/puppet-tripleo.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Initial python-mistralclient Train Release
  deliverables/train/python-mistralclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

oslo.serialization 2.29.1
  deliverables/train/oslo.serialization.yaml
Due: releases-tox-list-changes, openstack-tox-validate

train: release python-novaclient 14.0.0
  deliverables/train/python-novaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Train cycle schedule for manila
  doc/source/train/schedule.rst
  doc/source/train/schedule.yaml
Due: none

[Rally] Release a nwe version with a fix to previous release
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Cinder Specific Events for Train
  doc/source/train/schedule.rst
  doc/source/train/schedule.yaml
Due: none

[tripleo] create pike-em tag against final releases
  deliverables/pike/instack-undercloud.yaml
  deliverables/pike/instack.yaml
  deliverables/pike/os-apply-config.yaml
  deliverables/pike/os-collect-config.yaml
  deliverables/pike/os-net-config.yaml
  deliverables/pike/os-refresh-config.yaml
  deliverables/pike/paunch.yaml
  deliverables/pike/puppet-tripleo.yaml
  deliverables/pike/python-tripleoclient.yaml
  deliverables/pike/tripleo-common.yaml
  deliverables/pike/tripleo-heat-templates.yaml
  deliverables/pike/tripleo-image-elements.yaml
  deliverables/pike/tripleo-puppet-elements.yaml
  deliverables/pike/tripleo-quickstart.yaml
  deliverables/pike/tripleo-ui.yaml
  deliverables/pike/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[monasca] final releases for pike
  deliverables/pike/monasca-agent.yaml
  deliverables/pike/monasca-api.yaml
  deliverables/pike/monasca-ceilometer.yaml
  deliverables/pike/monasca-log-api.yaml
  deliverables/pike/monasca-persister.yaml
  deliverables/pike/monasca-transform.yaml
  deliverables/pike/monasca-ui.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Drop project FF from train schedule FF week
  doc/source/train/schedule.yaml
Due: none

[tricircle] create pike-em tag against final releases
  deliverables/pike/python-tricircleclient.yaml
  deliverables/pike/tricircle.yaml
Due: releases-tox-list-changes, openstack-tox-validate

[monasca] create pike-em tag against final releases
  deliverables/pike/monasca-agent.yaml
  deliverables/pike/monasca-api.yaml
  deliverables/pike/monasca-ceilometer.yaml
  deliverables/pike/monasca-common.yaml
  deliverables/pike/monasca-kibana-plugin.yaml
  deliverables/pike/monasca-log-api.yaml
  deliverables/pike/monasca-notification.yaml
  deliverables/pike/monasca-persister.yaml
  deliverables/pike/monasca-statsd.yaml
  deliverables/pike/monasca-thresh.yaml
  deliverables/pike/monasca-transform.yaml
  deliverables/pike/monasca-ui.yaml
  deliverables/pike/python-monascaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate
