Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - build-openstack-sphinx-docs:
            vars:
              sphinx_python: python3
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - build-openstack-sphinx-docs:
            vars:
              sphinx_python: python3
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-static:
            dependencies:
              - tag-releases

Release telemetry-tempest-plugin 0.1.0
  deliverables/rocky/telemetry-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release senlin-tempest-plugin 0.1.0
  deliverables/rocky/senlin-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release magnum-tempest-plugin 0.1.0
  deliverables/rocky/magnum-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ec2api-tempest-plugin 0.1.0
  deliverables/rocky/ec2api-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release blazar-tempest-plugin 0.1.0
  deliverables/rocky/blazar-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release barbican-tempest-plugin 0.1.0
  deliverables/rocky/barbican-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

release murano-tempest-plugin 0.1.0
  deliverables/rocky/murano-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add release notes links for queens
  deliverables/queens/barbican.yaml
  deliverables/queens/congress-dashboard.yaml
  deliverables/queens/kuryr.yaml
  deliverables/queens/networking-ovn.yaml
  deliverables/queens/python-brick-cinderclient-ext.yaml
  deliverables/queens/python-heatclient.yaml
  deliverables/queens/python-manilaclient.yaml
  deliverables/queens/storlets.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add release notes links for pike
  deliverables/pike/python-brick-cinderclient-ext.yaml
  deliverables/pike/sahara-dashboard.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible queens/17.1.0
  deliverables/queens/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Requesting release of Sahara Queens 8.0.2
  deliverables/queens/sahara.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Create stable/rocky branch for rpm-packaging
  deliverables/rocky/rpm-packaging.yaml
Due: releases-tox-list-changes, openstack-tox-validate

fix latest release handling in branch validation
  openstack_releases/cmds/validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Release python-blazarclient 2.0.1
  deliverables/rocky/python-blazarclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ovsdbapp 0.12.1
  deliverables/rocky/ovsdbapp.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release masakari 6.0.0.0rc2
  deliverables/rocky/masakari.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kolla-ansible 7.0.0.0rc1
  deliverables/rocky/kolla-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kolla 7.0.0.0rc1
  deliverables/rocky/kolla.yaml
Due: releases-tox-list-changes, openstack-tox-validate

reno 2.10.0
  deliverables/_independent/reno.yaml
Due: releases-tox-list-changes, openstack-tox-validate

fix validation of stable branches for independent deliverables
  openstack_releases/cmds/validate.py
  openstack_releases/gitutils.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Mark Rocky as released
  deliverables/series_status.yaml
  doc/source/rocky/index.rst
Due: releases-tox-list-changes, openstack-tox-validate

Set Stein as current release
  openstack_releases/defaults.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

deal with missing dates for next-phase
  doc/source/_themes/releases/series_status_table.tmpl
Due: none

Fix neutron rocky release highlight about port bindings
  deliverables/rocky/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

import zuul job settings from project-config
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

add python 3.6 unit test job
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Mark Stein as "under development"
  deliverables/series_status.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Skip release-test for missing-releases
  openstack_releases/cmds/missing.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

have list-deliverables --no-stable-branch skip tempest repos
  openstack_releases/cmds/list_deliverables.py
  openstack_releases/deliverable.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Release monasca-tempest-plugin 0.2.0
  deliverables/rocky/monasca-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kuryr-kubernetes 0.4.4 for queens
  deliverables/queens/kuryr-kubernetes.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update cycle-trailing process
  doc/source/reference/process.rst
Due: none

Mark Ocata as extended maintenance
  deliverables/series_status.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release oslo.utils 3.37.0 (Stein)
  deliverables/stein/oslo.utils.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Cut rocky branch for heat-agents and heat-dashboard
  deliverables/rocky/heat-agents.yaml
  deliverables/rocky/heat-dashboard.yaml
Due: releases-tox-list-changes, openstack-tox-validate

sahara-tests: release 0.7.0
  deliverables/rocky/sahara-tests.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release magnum-ui 5.0.1
  deliverables/rocky/magnum-ui.yaml
Due: releases-tox-list-changes, openstack-tox-validate
