Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python35-jobs
      - openstack-python36-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases:
            timeout: 3600
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Release rally 2.0.0
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release manila-ui 2.19.0 and cut stable/train
  deliverables/train/manila-ui.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Manila highlights for Train
  deliverables/train/manila.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-manilaclient 1.29.0 and cut stable/train
  deliverables/train/python-manilaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release karbor 1.4.0
  deliverables/train/karbor.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kuryr-libnetwork 4.0.0 RC1
  deliverables/train/kuryr-libnetwork.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release zun-ui 4.0.0 RC1
  deliverables/train/zun-ui.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release os-win 4.3.2 (train)
  deliverables/train/os-win.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release os-win 4.2.1 (stein)
  deliverables/stein/os-win.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kuryr 1.1.1
  deliverables/train/kuryr.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fix Train Summit description
  doc/source/train/schedule.rst
Due: none

Improve cycle end/beginning process documentation
  doc/source/reference/process.rst
Due: none

Update common info for make-tracking-pad
  openstack_releases/cmds/make_tracking_pad.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

neutron Train-3 beta deliverables
  deliverables/train/networking-bagpipe.yaml
  deliverables/train/networking-bgpvpn.yaml
  deliverables/train/networking-midonet.yaml
  deliverables/train/networking-odl.yaml
  deliverables/train/networking-ovn.yaml
  deliverables/train/networking-sfc.yaml
  deliverables/train/neutron-dynamic-routing.yaml
  deliverables/train/neutron-fwaas.yaml
  deliverables/train/neutron-vpnaas.yaml
  deliverables/train/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

pymod2pkg: add new mapping for RDO
  deliverables/_independent/pymod2pkg.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add highlight for VPMEM in Train release
  deliverables/train/nova.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add dtantsur and gtema as release liasons
  data/release_liaisons.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

TripleO train ml3 release
  deliverables/train/os-apply-config.yaml
  deliverables/train/os-net-config.yaml
  deliverables/train/paunch.yaml
  deliverables/train/puppet-tripleo.yaml
  deliverables/train/python-tripleoclient.yaml
  deliverables/train/tripleo-ansible.yaml
  deliverables/train/tripleo-common.yaml
  deliverables/train/tripleo-heat-templates.yaml
  deliverables/train/tripleo-image-elements.yaml
  deliverables/train/tripleo-puppet-elements.yaml
  deliverables/train/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release 0.36.0 of openstacksdk
  deliverables/train/openstacksdk.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Glance 19.0.0b1
  deliverables/train/glance.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update Heat release liaison
  data/release_liaisons.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Cyborg cycle highlights for Train
  deliverables/train/cyborg.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Neutron highlights for Train.
  deliverables/train/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Networking-ovn highlights for Train
  deliverables/train/networking-ovn.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update lib release instructions for freeze
  doc/source/reference/process.rst
  tools/list_client_library_unreleased_changes.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Update Murano/Solum release liaison
  data/release_liaisons.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Adjutant first releases will be in Ussuri
  deliverables/train/adjutant-ui.yaml
  deliverables/train/adjutant.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Clarify release-test purpose
  doc/source/reference/process.rst
Due: none

python-tackerclient 0.16.1
  deliverables/train/python-tackerclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-cloudkittyclient 3.1.0
  deliverables/train/python-cloudkittyclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fixing RC template
  openstack_releases/release_notes.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Release monasca-common 2.16.1 for Train
  deliverables/train/monasca-common.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Remove unused RC templates
  templates/rc1.txt
  templates/rcn.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Auto release request for release-test
  deliverables/train/release-test.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Auto release request for barbican-tempest-plugin
  deliverables/train/barbican-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Auto release request for cloudkitty-tempest-plugin
  deliverables/train/cloudkitty-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Auto release request for designate-tempest-plugin
  deliverables/train/designate-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Auto release request for ec2api-tempest-plugin
  deliverables/train/ec2api-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate
