Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

openstack-tox-validate:
  timeout: 3600

nova: release train 20.0.1
  deliverables/train/nova.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Rocky
  deliverables/rocky/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Remove artifact links for monasca-kibana-plugin
  deliverables/stein/monasca-kibana-plugin.yaml
  deliverables/train/monasca-kibana-plugin.yaml
  deliverables/ussuri/monasca-kibana-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release neutron-lbaas 13.0.1 and 14.0.1 for Rocky and Stein
  deliverables/rocky/neutron-lbaas.yaml
  deliverables/stein/neutron-lbaas.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Bugfix release for mistral-lib train
  deliverables/train/mistral-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Bugfix release for mistral-lib rocky
  deliverables/rocky/mistral-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Bugfix release for mistral-lib stein
  deliverables/stein/mistral-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

RC2 OpenStack-Ansible Train
  deliverables/train/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Drop redundant Manila deadline
  doc/source/ussuri/schedule.rst
  doc/source/ussuri/schedule.yaml
Due: none

Release ironic-python-agent-builder 1.1.0
  deliverables/_independent/ironic-python-agent-builder.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update release and branch to Train for tripleo-upgrade.
  deliverables/_independent/tripleo-upgrade.yaml
Due: releases-tox-list-changes, openstack-tox-validate

oslo.utils: release train 3.41.3
  deliverables/train/oslo.utils.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Make Dmitriy release liaison for OSA
  data/release_liaisons.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release new neutron-tempest-plugin version
  deliverables/ussuri/neutron-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Create train branch for os_murano role
  deliverables/train/openstack-ansible-roles.yaml
Due: releases-tox-list-changes, openstack-tox-validate

oslo.utils: release ussuri 3.42.0
  deliverables/ussuri/oslo.utils.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update README.rst for better looks
  README.rst
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Update process for R+1 week
  doc/source/reference/process.rst
Due: none

Skip jobs on data file only changes
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release networking-hyperv 7.3.1 (train)
  deliverables/train/networking-hyperv.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release networking-hyperv 7.2.1 (stein)
  deliverables/stein/networking-hyperv.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release networking-hyperv 7.0.1 (rocky)
  deliverables/rocky/networking-hyperv.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add --interactive to new-releases
  openstack_releases/cmds/new_release.py
  openstack_releases/gitutils.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Add wrapper script that can be used to update deliverables
  tools/make_missing_releases.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Add simple liaisons wrapper module
  openstack_releases/cmds/list_changes.py
  openstack_releases/liaisons.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Change horizon release model to cycle-with-intermediary
  deliverables/ussuri/horizon.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release horizon 17.0.0 (ussuri)
  deliverables/ussuri/horizon.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Unpin keyring to unbork twine validate check
  requirements.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Bugfix release for Mistral Train
  deliverables/train/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Drop the "estimated" if date is "TBD"
  doc/source/_themes/releases/series_status_table.tmpl
Due: none

Mark queens as extended maintainance
  data/series_status.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Swift stable releases
  deliverables/rocky/swift.yaml
  deliverables/stein/swift.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release rally 2.1.0
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fix ssh host addr link.
  tools/list_unreleased_and_open_changes.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

PowerVM deliverables are no longer part of release
  deliverables/ussuri/ceilometer-powervm.yaml
  deliverables/ussuri/networking-powervm.yaml
  deliverables/ussuri/nova-powervm.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Feature release for Mistral Stein
  deliverables/stein/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Feature release for Mistral Rocky
  deliverables/rocky/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^doc/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^deliverables/.*$, ^doc/.*$
