Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python35-jobs
      - openstack-python36-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases:
            timeout: 3600
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

release tooz 1.65.0 to uncap grpcio
  deliverables/train/tooz.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-novaclient 13.0.1
  deliverables/stein/python-novaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Puppet OpenStack Train Milestone 1
  deliverables/train/puppet-monasca.yaml
  deliverables/train/puppet-placement.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update python-tempestconf to 2.2.1
  deliverables/_independent/python-tempestconf.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release 0.31.1 of openstacksdk
  deliverables/train/openstacksdk.yaml
Due: releases-tox-list-changes, openstack-tox-validate

List the Train cycle signing key as current
  doc/source/index.rst
  doc/source/static/0xcdc08088c3cb45a9be08332b2354069e5b504663.txt
Due: none

Oslo releases for 2019-6-11
  deliverables/_independent/pbr.yaml
  deliverables/train/castellan.yaml
  deliverables/train/oslo.config.yaml
  deliverables/train/oslo.db.yaml
  deliverables/train/oslo.messaging.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Liaisons to Deliverables File
  data/release_liaisons.yaml
  data/series_status.yaml
  doc/source/_exts/deliverables.py
  doc/source/series_status.yaml
  openstack_releases/cmds/check_schema.py
  openstack_releases/cmds/new_release.py
  openstack_releases/gitutils.py
  openstack_releases/series_status.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Release keystonemiddleware 6.1.0
  deliverables/train/keystonemiddleware.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release metalsmith 0.13.0 for Train
  deliverables/train/metalsmith.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic-python-agent 3.7.0 for Train
  deliverables/train/ironic-python-agent.yaml
Due: releases-tox-list-changes, openstack-tox-validate

update sphinxcontrib-datatemplates to avoid build warnings
  doc/requirements.txt
  doc/source/index.rst
  doc/source/ocata/schedule.rst
  doc/source/pike/schedule.rst
  doc/source/queens/schedule.rst
  doc/source/rocky/schedule.rst
  doc/source/stein/schedule.rst
  doc/source/train/schedule.rst
Due: none

Release glance_store 0.29.1
  deliverables/train/glance-store.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic-lib 2.18.0 for Train
  deliverables/train/ironic-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release osc-lib 1.13.0
  deliverables/train/osc-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

nova: release rocky 18.2.1
  deliverables/rocky/nova.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-ironic-inspector-client 3.6.0 for Train
  deliverables/train/python-ironic-inspector-client.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release puppet-manila for Stein, Rocky and Queens
  deliverables/queens/puppet-manila.yaml
  deliverables/rocky/puppet-manila.yaml
  deliverables/stein/puppet-manila.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Set pike status to extended maintenance
  data/series_status.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Release octavia-tempest-plugin 1.1.0
  deliverables/train/octavia-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 12.2.0 for train
  deliverables/train/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Rocky
  deliverables/rocky/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Queens
  deliverables/queens/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Queens Release for TripleO
  deliverables/queens/instack-undercloud.yaml
  deliverables/queens/os-apply-config.yaml
  deliverables/queens/os-net-config.yaml
  deliverables/queens/paunch.yaml
  deliverables/queens/puppet-tripleo.yaml
  deliverables/queens/python-tripleoclient.yaml
  deliverables/queens/tripleo-common.yaml
  deliverables/queens/tripleo-heat-templates.yaml
  deliverables/queens/tripleo-puppet-elements.yaml
  deliverables/queens/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Rocky Release for TripleO
  deliverables/rocky/os-apply-config.yaml
  deliverables/rocky/os-net-config.yaml
  deliverables/rocky/puppet-tripleo.yaml
  deliverables/rocky/python-tripleoclient.yaml
  deliverables/rocky/tripleo-common.yaml
  deliverables/rocky/tripleo-heat-templates.yaml
  deliverables/rocky/tripleo-puppet-elements.yaml
  deliverables/rocky/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Rally 1.6.0
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo releases for 2019-6-19
  deliverables/_independent/pbr.yaml
  deliverables/train/oslo.cache.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update Liaison Scripts
  openstack_releases/cmds/check_schema.py
  openstack_releases/cmds/list_changes.py
  openstack_releases/liaisons_schema.py
  openstack_releases/liaisons_schema.yaml
  openstack_releases/tests/CrossProjectLiaisons.txt
  openstack_releases/tests/test_wiki.py
  openstack_releases/wiki.py
  setup.cfg
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Do not allow final without RC in cycle-with-rc
  openstack_releases/cmds/validate.py
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Modify Queens Extended Maintenance date
  data/series_status.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Fix regression in list-changes
  data/release_liaisons.yaml
  openstack_releases/cmds/list_changes.py
  openstack_releases/liaisons_schema.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Introduce cycle-automatic release model
  doc/source/reference/process.rst
  doc/source/reference/release_models.rst
  openstack_releases/schema.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Switch all tempest plugins to cycle-automatic
  deliverables/train/barbican-tempest-plugin.yaml
  deliverables/train/blazar-tempest-plugin.yaml
  deliverables/train/cinder-tempest-plugin.yaml
  deliverables/train/cloudkitty-tempest-plugin.yaml
  deliverables/train/congress-tempest-plugin.yaml
  deliverables/train/designate-tempest-plugin.yaml
  deliverables/train/ec2api-tempest-plugin.yaml
  deliverables/train/freezer-tempest-plugin.yaml
  deliverables/train/heat-tempest-plugin.yaml
  deliverables/train/ironic-tempest-plugin.yaml
  deliverables/train/keystone-tempest-plugin.yaml
  deliverables/train/kuryr-tempest-plugin.yaml
  deliverables/train/magnum-tempest-plugin.yaml
  deliverables/train/manila-tempest-plugin.yaml
  deliverables/train/mistral-tempest-plugin.yaml
  deliverables/train/monasca-tempest-plugin.yaml
  deliverables/train/murano-tempest-plugin.yaml
  deliverables/train/neutron-tempest-plugin.yaml
  deliverables/train/octavia-tempest-plugin.yaml
  deliverables/train/oswin-tempest-plugin.yaml
  deliverables/train/sahara-tests.yaml
  deliverables/train/senlin-tempest-plugin.yaml
  deliverables/train/solum-tempest-plugin.yaml
  deliverables/train/telemetry-tempest-plugin.yaml
  deliverables/train/trove-tempest-plugin.yaml
  deliverables/train/vitrage-tempest-plugin.yaml
  deliverables/train/watcher-tempest-plugin.yaml
  deliverables/train/zaqar-tempest-plugin.yaml
  deliverables/train/zun-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-saharaclient 2.2.1
  deliverables/stein/python-saharaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

training-labs stable/stein
  deliverables/_independent/training-labs.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Neutron Stein 14.0.2
  deliverables/stein/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Neutron Rocky 13.0.4
  deliverables/rocky/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fix iCalendar format violations
  doc/source/_exts/ics.py
Due: none

Release os-traits 0.15.0
  deliverables/_independent/os-traits.yaml
Due: releases-tox-list-changes, openstack-tox-validate
