Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

[oslo] Transition Yoga to Unmaintained
  deliverables/yoga/automaton.yaml
  deliverables/yoga/castellan.yaml
  deliverables/yoga/oslo.cache.yaml
  deliverables/yoga/oslo.config.yaml
  deliverables/yoga/oslo.context.yaml
  deliverables/yoga/oslo.db.yaml
  deliverables/yoga/oslo.limit.yaml
  deliverables/yoga/oslo.messaging.yaml
  deliverables/yoga/oslo.metrics.yaml
  deliverables/yoga/oslo.middleware.yaml
  deliverables/yoga/oslo.policy.yaml
  deliverables/yoga/oslo.privsep.yaml
  deliverables/yoga/oslo.serialization.yaml
  deliverables/yoga/oslo.service.yaml
  deliverables/yoga/oslo.upgradecheck.yaml
  deliverables/yoga/oslo.utils.yaml
  deliverables/yoga/oslo.versionedobjects.yaml
  deliverables/yoga/oslo.vmware.yaml
  deliverables/yoga/stevedore.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-python-agent 9.9.0 for caracal
  deliverables/caracal/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[tripleo] Transition Train to End of Life
  deliverables/train/os-apply-config.yaml
  deliverables/train/os-collect-config.yaml
  deliverables/train/os-net-config.yaml
  deliverables/train/os-refresh-config.yaml
  deliverables/train/paunch.yaml
  deliverables/train/puppet-tripleo.yaml
  deliverables/train/python-tripleoclient.yaml
  deliverables/train/tripleo-ansible.yaml
  deliverables/train/tripleo-common.yaml
  deliverables/train/tripleo-heat-templates.yaml
  deliverables/train/tripleo-image-elements.yaml
  deliverables/train/tripleo-ipsec.yaml
  deliverables/train/tripleo-puppet-elements.yaml
  deliverables/train/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final Yoga releases of Ironic deliverables
  deliverables/yoga/ironic-python-agent.yaml
  deliverables/yoga/ironic.yaml
  deliverables/yoga/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

python-openstackclient 6.5.0
  deliverables/caracal/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic 24.0.0 for caracal
  deliverables/caracal/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila] New 2023.2 stable release
  deliverables/bobcat/manila.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

zuul: Add irrelevant-files for py311 job
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Return list-changes results as zuul artifact
  .zuul.yaml
  playbooks/releases-tox-list-changes/post.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release ironic-inspector 12.0.0 for caracal
  deliverables/caracal/ironic-inspector.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[requirements] Transition Yoga to Unmaintained
  deliverables/yoga/requirements.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[blazar] Transition Yoga to Unmaintained
  deliverables/yoga/blazar-dashboard.yaml
  deliverables/yoga/blazar-nova.yaml
  deliverables/yoga/blazar.yaml
  deliverables/yoga/python-blazarclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Retire puppet-qdr: Mark the deliverables as retired
  deliverables/antelope/puppet-qdr.yaml
  deliverables/bobcat/puppet-qdr.yaml
  deliverables/caracal/puppet-qdr.yaml
  deliverables/wallaby/puppet-qdr.yaml
  deliverables/xena/puppet-qdr.yaml
  deliverables/yoga/puppet-qdr.yaml
  deliverables/zed/puppet-qdr.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[ironic] Transition Yoga to Unmaintained
  deliverables/yoga/bifrost.yaml
  deliverables/yoga/ironic-inspector.yaml
  deliverables/yoga/ironic-lib.yaml
  deliverables/yoga/ironic-prometheus-exporter.yaml
  deliverables/yoga/ironic-python-agent-builder.yaml
  deliverables/yoga/ironic-python-agent.yaml
  deliverables/yoga/ironic-ui.yaml
  deliverables/yoga/ironic.yaml
  deliverables/yoga/metalsmith.yaml
  deliverables/yoga/networking-baremetal.yaml
  deliverables/yoga/networking-generic-switch.yaml
  deliverables/yoga/python-ironic-inspector-client.yaml
  deliverables/yoga/python-ironicclient.yaml
  deliverables/yoga/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

octavia release 10.1.1 for yoga
  deliverables/yoga/octavia.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[octavia] Transition Yoga to Unmaintained
  deliverables/yoga/octavia-dashboard.yaml
  deliverables/yoga/octavia-lib.yaml
  deliverables/yoga/octavia.yaml
  deliverables/yoga/python-octaviaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum] release magnum 17.0.2
  deliverables/bobcat/magnum.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum] release magnum 16.0.2
  deliverables/antelope/magnum.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add Redirection support for unmaintained branches and releases
  openstack_releases/_redirections.py
  openstack_releases/tests/test_redirections.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

[python-manilaclient] New Zed stable release
  deliverables/zed/python-manilaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update series statuses
  data/series_status.yaml
  doc/source/index.rst
Due: openstack-tox-validate

Create new puppet-ceph release
  deliverables/_independent/puppet-ceph.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update email template for week R-8
  doc/source/reference/process.rst
Due: none

Allow <series>-last tag to be released for Unmaintained release
  openstack_releases/cmds/validate.py
  openstack_releases/series_status.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

[tempest] Tag yoga-last
  deliverables/caracal/tempest.yaml
  deliverables/yoga/tempest.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[heat-tempest-plugin] Tag yoga-last
  deliverables/caracal/heat-tempest-plugin.yaml
  deliverables/yoga/heat-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add is-eom option to list-deliverables command
  openstack_releases/cmds/list_deliverables.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Add list_eom_stale_branches.sh
  doc/source/reference/using.rst
  tools/list_eom_stale_branches.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

tools: Print UTC time of branch deletion
  tools/delete_stable_branch.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Tag monthly kolla stable releases
  deliverables/antelope/kayobe.yaml
  deliverables/antelope/kolla-ansible.yaml
  deliverables/bobcat/kayobe.yaml
  deliverables/bobcat/kolla-ansible.yaml
  deliverables/bobcat/kolla.yaml
  deliverables/zed/kayobe.yaml
  deliverables/zed/kolla-ansible.yaml
  deliverables/zed/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum] release magnum 15.0.2
  deliverables/zed/magnum.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum] release magnum 14.1.2
  deliverables/yoga/magnum.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Cinder team releases for stable/2023.2
  deliverables/bobcat/cinder.yaml
  deliverables/bobcat/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum] Transition Yoga to Unmaintained
  deliverables/yoga/magnum-ui.yaml
  deliverables/yoga/magnum.yaml
  deliverables/yoga/python-magnumclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[magnum-tempest-plugin] Tag yoga-last
  deliverables/caracal/magnum-tempest-plugin.yaml
  deliverables/yoga/magnum-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[zun-tempest-plugin] Tag yoga-last
  deliverables/yoga/zun-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[ec2api-tempest-plugin] Tag yoga-last
  deliverables/yoga/ec2api-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[murano-tempest-plugin] Tag yoga-last
  deliverables/yoga/murano-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[neutron-tempest-plugin] Tag yoga-last
  deliverables/caracal/neutron-tempest-plugin.yaml
  deliverables/yoga/neutron-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[zaqar-tempest-plugin] Tag yoga-last
  deliverables/yoga/zaqar-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
