Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-check-approval
    parent: openstack-tox
    files:
      - ^deliverables/.*$
    timeout: 360
    vars:
      tox_envlist: check_approval
      tox_extra_args: "{{ zuul.change }}"

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    experimental:
      jobs:
        - releases-check-approval
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Release final tosca-parser for Wallaby
  deliverables/wallaby/tosca-parser.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

add cyborg release highlights
  deliverables/wallaby/cyborg.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final heat-translator for Wallaby
  deliverables/wallaby/heat-translator.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Adapt the documentation to use process_auto_release
  doc/source/reference/process.rst
Due: none

Add missing extra-ATC for xena
  doc/source/xena/schedule.rst
  doc/source/xena/schedule.yaml
Due: none

Release final glance_store for Wallaby
  deliverables/wallaby/glance-store.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy-tools 0.15.0
  deliverables/_independent/sushy-tools.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila][xena] Add project tracking schedule
  doc/source/xena/schedule.rst
  doc/source/xena/schedule.yaml
Due: none

Release final ovsdbapp for Wallaby
  deliverables/wallaby/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final sushy for Wallaby
  deliverables/wallaby/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final os-ken for Wallaby
  deliverables/wallaby/os-ken.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final metalsmith for Wallaby
  deliverables/wallaby/metalsmith.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final ironic-lib for Wallaby
  deliverables/wallaby/ironic-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release python-swiftclient 3.9.1 for Ussuri
  deliverables/ussuri/python-swiftclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Adding a tool to catch projects that missed branching
  doc/source/reference/process.rst
  doc/source/reference/using.rst
  openstack_releases/cmds/list_series.py
  openstack_releases/series_status.py
  setup.cfg
  tools/list_unbranched_projects.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

Release final neutron-lib for Wallaby
  deliverables/wallaby/neutron-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Final release of octavia-lib for Wallaby
  deliverables/wallaby/octavia-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ipa-builder 2.5.0
  deliverables/_independent/ironic-python-agent-builder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release cinder-tempest-plugin 1.4.0
  deliverables/wallaby/cinder-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Cinder team releases for stable/victoria
  deliverables/victoria/cinder.yaml
  deliverables/victoria/cinderlib.yaml
  deliverables/victoria/os-brick.yaml
  deliverables/victoria/python-brick-cinderclient-ext.yaml
  deliverables/victoria/python-cinderclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Reference `check-release-approval` in our doc
  doc/source/reference/reviewer_guide.rst
Due: none

Add delete option to list_eol_stale_branches.sh
  tools/delete_stable_branch.py
  tools/list_eol_stale_branches.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

fix typos
  doc/source/reference/process.rst
Due: none

Change primary eamil for Rico Lin
  data/release_liaisons.yaml
Due: openstack-tox-validate

Make release of tripleo-ipsec master/victoria/ussuri - fix bad tags
  deliverables/_independent/tripleo-ipsec.yaml
  deliverables/ussuri/tripleo-ipsec.yaml
  deliverables/victoria/tripleo-ipsec.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Fix final release of ironic-lib
  deliverables/wallaby/ironic-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final python-blazarclient for Wallaby
  deliverables/wallaby/python-blazarclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final python-magnumclient for Wallaby
  deliverables/wallaby/python-magnumclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final python-senlinclient for Wallaby
  deliverables/wallaby/python-senlinclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final python-vitrageclient for Wallaby
  deliverables/wallaby/python-vitrageclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final python-novaclient for Wallaby
  deliverables/wallaby/python-novaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

fix nits
  doc/source/reference/using.rst
  openstack_releases/cmds/list_series.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Tag stable/rocky tripleo repos as EOL
  deliverables/rocky/instack-undercloud.yaml
  deliverables/rocky/os-apply-config.yaml
  deliverables/rocky/os-collect-config.yaml
  deliverables/rocky/os-net-config.yaml
  deliverables/rocky/os-refresh-config.yaml
  deliverables/rocky/paunch.yaml
  deliverables/rocky/puppet-tripleo.yaml
  deliverables/rocky/python-tripleoclient.yaml
  deliverables/rocky/tripleo-common.yaml
  deliverables/rocky/tripleo-heat-templates.yaml
  deliverables/rocky/tripleo-image-elements.yaml
  deliverables/rocky/tripleo-ipsec.yaml
  deliverables/rocky/tripleo-puppet-elements.yaml
  deliverables/rocky/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release final os-brick for Wallaby
  deliverables/wallaby/os-brick.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Victoria
  deliverables/victoria/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Tempest 26.1.0
  deliverables/wallaby/tempest.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add OpenStack-Ansible Wallaby Cycle-Highlights
  deliverables/wallaby/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Trove Wallaby Highlights
  deliverables/wallaby/trove.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Move debtcollector to independent
  deliverables/_independent/debtcollector.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Move futurist to independent
  deliverables/_independent/futurist.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate
