Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

mistral-dashboard is released as part of mistral
  deliverables/ussuri/mistral-dashboard.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Introduce 'abandoned' release model
  doc/source/reference/release_models.rst
  openstack_releases/cmds/validate.py
  openstack_releases/deliverable.py
  openstack_releases/schema.yaml
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Tag abandoned deliverables
  deliverables/_independent/networking-ale-omniswitch.yaml
  deliverables/_independent/networking-arista.yaml
  deliverables/_independent/networking-cisco.yaml
  deliverables/_independent/networking-vsphere.yaml
  deliverables/_independent/python-tuskarclient.yaml
  deliverables/_independent/tuskar-ui.yaml
  deliverables/_independent/tuskar.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release cinder-tempest-plugin 0.3.1
  deliverables/ussuri/cinder-tempest-plugin.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Switch some sphinx extension logging to debug level
  doc/source/_exts/deliverables.py
Due: none

Add signature links for independent deliverables
  doc/source/_exts/deliverables.py
Due: none

Release glance-store for Ussuri milestone 1
  deliverables/ussuri/glance-store.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Rocky
  deliverables/rocky/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Display abandoned deliverables in separate section
  doc/source/_exts/deliverables.py
  openstack_releases/deliverable.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Mark retired deliverables EOL
  deliverables/_independent/castellan-ui.yaml
  deliverables/_independent/django-openstack-auth-kerberos.yaml
  deliverables/_independent/fuxi.yaml
  deliverables/_independent/instack.yaml
  deliverables/_independent/kolla-kubernetes.yaml
  deliverables/_independent/networking-ofagent.yaml
  deliverables/_independent/os-cloud-config.yaml
  deliverables/_independent/pylockfile.yaml
  deliverables/_independent/python-cueclient.yaml
  deliverables/_independent/python-keystoneclient-kerberos.yaml
  deliverables/_independent/python-wsmanclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release cinderlib 1.0.1
  deliverables/train/cinderlib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Ussuri 1 for Glance
  deliverables/ussuri/glance.yaml
Due: releases-tox-list-changes, openstack-tox-validate

bump train for packaging dep fix
  deliverables/train/os-apply-config.yaml
  deliverables/train/os-collect-config.yaml
  deliverables/train/os-net-config.yaml
  deliverables/train/paunch.yaml
  deliverables/train/puppet-tripleo.yaml
  deliverables/train/python-tripleoclient.yaml
  deliverables/train/tripleo-ansible.yaml
  deliverables/train/tripleo-common.yaml
  deliverables/train/tripleo-heat-templates.yaml
  deliverables/train/tripleo-image-elements.yaml
  deliverables/train/tripleo-puppet-elements.yaml
  deliverables/train/tripleo-validations.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kayobe 7.0.0.0rc1 for Train
  deliverables/train/kayobe.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fix library shortname identification in announce script
  tools/announce.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release keystonemiddleware for Ussuri milestone 1
  deliverables/ussuri/keystonemiddleware.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update horizon plugin bug trackers
  deliverables/ussuri/senlin-dashboard.yaml
  deliverables/ussuri/trove-dashboard.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release magnum 9.2.0 for Train
  deliverables/train/magnum.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Ussuri beta 1 release for Storlets
  deliverables/ussuri/storlets.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo releases for 2020-01-03
  deliverables/ussuri/oslo.config.yaml
  deliverables/ussuri/oslo.db.yaml
  deliverables/ussuri/oslo.i18n.yaml
  deliverables/ussuri/oslo.log.yaml
  deliverables/ussuri/oslo.messaging.yaml
  deliverables/ussuri/oslo.versionedobjects.yaml
  deliverables/ussuri/oslotest.yaml
  deliverables/ussuri/tooz.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release oslo.messaging 9.5.1 for Stein
  deliverables/stein/oslo.messaging.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release neutron-lib 1.31.0 for Ussuri
  deliverables/ussuri/neutron-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kayobe 7.0.0.0rc2 for Train
  deliverables/train/kayobe.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update for neutron-fwaas stable branches
  deliverables/rocky/neutron-fwaas.yaml
  deliverables/stein/neutron-fwaas.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo train releases for 2020-01-07
  deliverables/train/oslo.config.yaml
  deliverables/train/oslo.policy.yaml
  deliverables/train/oslo.utils.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release cliff 2.18.0
  deliverables/ussuri/cliff.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo stein releases for 2020-01-07
  deliverables/stein/oslo.config.yaml
  deliverables/stein/oslo.policy.yaml
  deliverables/stein/oslo.privsep.yaml
  deliverables/stein/oslo.rootwrap.yaml
  deliverables/stein/oslo.service.yaml
  deliverables/stein/oslo.utils.yaml
  deliverables/stein/osprofiler.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-octaviaclient 2.0.0
  deliverables/ussuri/python-octaviaclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo Rocky releases for 2020-01-07
  deliverables/rocky/oslo.config.yaml
  deliverables/rocky/oslo.rootwrap.yaml
  deliverables/rocky/oslo.utils.yaml
  deliverables/rocky/osprofiler.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Kayobe 7.0.0 for Train
  deliverables/train/kayobe.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release horizon 18.0.0 (ussuri)
  deliverables/ussuri/horizon.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Address review comments for make_missing_releases
  tools/make_missing_releases.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release os-client-config for Ussuri milestone 1
  deliverables/ussuri/os-client-config.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update process for between milestone-1 and 2
  doc/source/reference/process.rst
Due: none

Release neutron-lib 2.0.0 for Ussuri
  deliverables/ussuri/neutron-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-ironicclient 2.7.3 for Stein
  deliverables/stein/python-ironicclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-ironicclient 3.1.1 for Train
  deliverables/train/python-ironicclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release oslo.vmware 2.35.0
  deliverables/ussuri/oslo.vmware.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add openstack-tox-bashate job for scripts
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8
