Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - build-openstack-sphinx-docs:
            vars:
              sphinx_python: python3
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - build-openstack-sphinx-docs:
            vars:
              sphinx_python: python3
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-static:
            dependencies:
              - tag-releases

Release magnum-ui 4.0.1
  deliverables/queens/magnum-ui.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update release and branch for tripleo-upgrade.
  deliverables/_independent/tripleo-upgrade.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release python-openstackclient 3.16.1 (Rocky)
  deliverables/rocky/python-openstackclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release magnum 6.2.0
  deliverables/queens/magnum.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release openstackdocstheme 1.23.2
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, openstack-tox-validate

python-neutronclient 6.10.0 (Stein)
  deliverables/stein/python-neutronclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

python-neutronclient 6.9.1 (Rocky)
  deliverables/rocky/python-neutronclient.yaml
Due: releases-tox-list-changes, openstack-tox-validate

List the Stein cycle signing key as current
  doc/source/index.rst
  doc/source/static/0x27023b1ffccd8e3ae9a5ce95d943d5d270273ada.txt
Due: none

add stub for dragonflow in stein
  deliverables/stein/dragonflow.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release oslo.service 1.32.0
  deliverables/stein/oslo.service.yaml
Due: releases-tox-list-changes, openstack-tox-validate

release neutron 13.0.1
  deliverables/rocky/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Support StoryBoard project names in place of IDs
  deliverables/stein/shade.yaml
  openstack_releases/cmds/validate.py
  openstack_releases/deliverable.py
  openstack_releases/schema.yaml
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Add Manila project deadlines for Stein
  doc/source/stein/schedule.rst
  doc/source/stein/schedule.yaml
Due: none

release neutron 12.0.4
  deliverables/queens/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Mistral Rocky 7.0.1
  deliverables/rocky/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add searchlight to Stein deliverables
  deliverables/stein/python-searchlightclient.yaml
  deliverables/stein/searchlight-ui.yaml
  deliverables/stein/searchlight.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kuryr-kubernetes 0.4.5
  deliverables/queens/kuryr-kubernetes.yaml
Due: releases-tox-list-changes, openstack-tox-validate

reno 2.11.0
  deliverables/_independent/reno.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Octavia stable/pike 1.0.3
  deliverables/pike/octavia.yaml
Due: releases-tox-list-changes, openstack-tox-validate

networking-(bagpipe|bgpvpn) rocky update
  deliverables/rocky/networking-bagpipe.yaml
  deliverables/rocky/networking-bgpvpn.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release 3.11.0 of keystoneauth
  deliverables/stein/keystoneauth.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release openstackdocstheme 1.24.0
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Mistral Pike 5.2.5
  deliverables/pike/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Mistral Queens 6.0.4
  deliverables/queens/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Mistral Rocky 7.0.2
  deliverables/rocky/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

openstackdocstheme 1.24.1
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Fix stein release and cycle-trailing dates
  doc/source/stein/schedule.rst
Due: none

Release monasca-events-api and cut stable/rocky
  deliverables/_independent/monasca-events-api.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release congress 7.0.1
  deliverables/queens/congress.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 7.0.6 for Ocata
  deliverables/ocata/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic-python-agent 2.0.2 for Ocata
  deliverables/ocata/ironic-python-agent.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic-lib 2.5.3 for Ocata
  deliverables/ocata/ironic-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

convert warning for missing repo to error
  openstack_releases/cmds/validate.py
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Add keystone deadlines to the Stein schedule
  doc/source/stein/schedule.rst
  doc/source/stein/schedule.yaml
Due: none

Don't reverse series list in new_release
  openstack_releases/cmds/new_release.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

add verbose mode to new-release
  openstack_releases/cmds/new_release.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

Oslo releases for 2018-9-19
  deliverables/stein/castellan.yaml
  deliverables/stein/oslo.concurrency.yaml
  deliverables/stein/oslo.config.yaml
  deliverables/stein/oslo.db.yaml
  deliverables/stein/oslo.i18n.yaml
  deliverables/stein/oslo.log.yaml
  deliverables/stein/oslo.policy.yaml
  deliverables/stein/oslo.privsep.yaml
  deliverables/stein/oslo.reports.yaml
  deliverables/stein/oslo.serialization.yaml
  deliverables/stein/oslo.versionedobjects.yaml
  deliverables/stein/oslo.vmware.yaml
  deliverables/stein/osprofiler.yaml
  deliverables/stein/taskflow.yaml
Due: releases-tox-list-changes, openstack-tox-validate

do not require stable branches from latest release for independent projects
  openstack_releases/cmds/validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-pep8

[rally] Propose 1.2.0 release
  deliverables/_independent/rally.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 10.1.5 for Queens
  deliverables/queens/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate
