Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

Move tooz to the independent model
  deliverables/_independent/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release magnum 11.1.1 for victoria
  deliverables/victoria/magnum.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Push validations-libs 1.1.0 release
  deliverables/_independent/validations-libs.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

New feature release for oslo.config project.
  deliverables/xena/oslo.config.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add glance-tempest-plugin to wallaby deliverables
  deliverables/wallaby/glance-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tripleo-common
  deliverables/xena/tripleo-common.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add Cinder-specific dates for Xena schedule
  doc/source/xena/schedule.rst
  doc/source/xena/schedule.yaml
Due: none

Release ironic-python-agent 7.0.1 for wallaby
  deliverables/wallaby/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy 3.7.1 for wallaby
  deliverables/wallaby/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.db 8.6.0 for xena
  deliverables/xena/oslo.db.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Remove Mark Goddard from Ironic release liasons
  data/release_liaisons.yaml
Due: openstack-tox-validate

[masakari] Bugfix releases
  deliverables/train/masakari.yaml
  deliverables/ussuri/masakari.yaml
  deliverables/victoria/masakari.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ovsdbapp 1.10.0
  deliverables/xena/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic 17.0.2 for wallaby
  deliverables/wallaby/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update Telemetry release liaison
  data/release_liaisons.yaml
Due: openstack-tox-validate

Release Kayobe 10.0.0.0rc1 and branch for Wallaby
  deliverables/wallaby/kayobe.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Victoria
  deliverables/victoria/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create feature branch for OpenStackSDK
  deliverables/xena/openstacksdk.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add two new ironic liaisons
  data/release_liaisons.yaml
Due: openstack-tox-validate

Fix list_eol_stale_branches.sh to list only stale branches
  tools/list_eol_stale_branches.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Tripleo repos release and branch stable/wallaby
  deliverables/wallaby/os-net-config.yaml
  deliverables/wallaby/puppet-tripleo.yaml
  deliverables/wallaby/python-tripleoclient.yaml
  deliverables/wallaby/tripleo-ansible.yaml
  deliverables/wallaby/tripleo-common.yaml
  deliverables/wallaby/tripleo-heat-templates.yaml
  deliverables/wallaby/tripleo-image-elements.yaml
  deliverables/wallaby/tripleo-puppet-elements.yaml
  deliverables/wallaby/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ansible-role-redhat-subscription
  deliverables/_independent/ansible-role-redhat-subscription.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

List the Xena cycle signing key as current
  doc/source/index.rst
  doc/source/static/0x4c29ff0e437f3351fd82bdf47c5a3bc787dc7035.txt
Due: none

add release liaison for cyborg
  data/release_liaisons.yaml
Due: openstack-tox-validate

nova: Release Wallaby 23.0.1
  deliverables/wallaby/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

nova: Release Victoria 22.2.1
  deliverables/victoria/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

nova: Release Train 20.6.1
  deliverables/train/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

nova: Release Ussuri 21.2.1
  deliverables/ussuri/nova.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

ironic-python-agent-builder release model change
  deliverables/_independent/ironic-python-agent-builder.yaml
  deliverables/wallaby/ironic-python-agent-builder.yaml
  deliverables/xena/ironic-python-agent-builder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Neutron stable releases (Train, Ussuri, Victoria)
  deliverables/train/networking-ovn.yaml
  deliverables/train/neutron.yaml
  deliverables/ussuri/neutron.yaml
  deliverables/victoria/neutron.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tripleo-common stable/wallaby
  deliverables/wallaby/tripleo-common.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo's independent deliverables
  deliverables/_independent/oslo.log.yaml
  deliverables/_independent/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Oslo for Xena
  deliverables/xena/castellan.yaml
  deliverables/xena/oslo.config.yaml
  deliverables/xena/oslo.db.yaml
  deliverables/xena/oslo.policy.yaml
  deliverables/xena/oslo.utils.yaml
  deliverables/xena/oslo.vmware.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release osc-lib 2.4.0 for Xena
  deliverables/xena/osc-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[designate] Transition Train to EM
  deliverables/train/designate-dashboard.yaml
  deliverables/train/designate.yaml
  deliverables/train/python-designateclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[ec2-api] Transition Train to EM
  deliverables/train/ec2-api.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[freezer] Transition Train to EM
  deliverables/train/freezer-web-ui.yaml
  deliverables/train/freezer.yaml
  deliverables/train/python-freezerclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[glance] Transition Train to EM
  deliverables/train/glance-store.yaml
  deliverables/train/glance.yaml
  deliverables/train/python-glanceclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[heat] Transition Train to EM
  deliverables/train/heat-agents.yaml
  deliverables/train/heat-dashboard.yaml
  deliverables/train/heat-translator.yaml
  deliverables/train/heat.yaml
  deliverables/train/python-heatclient.yaml
  deliverables/train/tosca-parser.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
