Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

releases-tox-list-changes:
  parent: openstack-tox
  timeout: 3600
  vars:
    tox_envlist: list-changes

releases-check-approval:
  parent: openstack-tox
  timeout: 360
  vars:
    tox_envlist: check_approval
    tox_extra_args: '{{ zuul.change }}'

openstack-tox-validate:
  timeout: 3600

Update release liaison for cinder
  data/release_liaisons.yaml
Due: openstack-tox-validate

Release cinder 17.4.0 for victoria
  deliverables/victoria/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[cinder] Transition Victoria to EM
  deliverables/victoria/cinder.yaml
  deliverables/victoria/cinderlib.yaml
  deliverables/victoria/os-brick.yaml
  deliverables/victoria/python-brick-cinderclient-ext.yaml
  deliverables/victoria/python-cinderclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update Dmitriy Rabotyagov email
  data/release_liaisons.yaml
Due: openstack-tox-validate

[neutron] Transition Victoria to EM
  deliverables/victoria/networking-bagpipe.yaml
  deliverables/victoria/networking-bgpvpn.yaml
  deliverables/victoria/networking-midonet.yaml
  deliverables/victoria/networking-odl.yaml
  deliverables/victoria/networking-sfc.yaml
  deliverables/victoria/neutron-dynamic-routing.yaml
  deliverables/victoria/neutron-lib.yaml
  deliverables/victoria/neutron-vpnaas-dashboard.yaml
  deliverables/victoria/neutron-vpnaas.yaml
  deliverables/victoria/neutron.yaml
  deliverables/victoria/os-ken.yaml
  deliverables/victoria/ovn-octavia-provider.yaml
  deliverables/victoria/ovsdbapp.yaml
  deliverables/victoria/python-neutronclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update python testing classifier
  setup.cfg
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release Oslo's Yoga deliverables
  deliverables/yoga/castellan.yaml
  deliverables/yoga/oslo.limit.yaml
  deliverables/yoga/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic and sushy in Victoria
  deliverables/victoria/ironic.yaml
  deliverables/victoria/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[ironic] Transition Victoria to EM
  deliverables/victoria/bifrost.yaml
  deliverables/victoria/ironic-inspector.yaml
  deliverables/victoria/ironic-lib.yaml
  deliverables/victoria/ironic-prometheus-exporter.yaml
  deliverables/victoria/ironic-python-agent.yaml
  deliverables/victoria/ironic-ui.yaml
  deliverables/victoria/ironic.yaml
  deliverables/victoria/metalsmith.yaml
  deliverables/victoria/networking-baremetal.yaml
  deliverables/victoria/networking-generic-switch.yaml
  deliverables/victoria/python-ironic-inspector-client.yaml
  deliverables/victoria/python-ironicclient.yaml
  deliverables/victoria/sushy-cli.yaml
  deliverables/victoria/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add final Victoria releases for Kolla projects
  deliverables/victoria/kayobe.yaml
  deliverables/victoria/kolla-ansible.yaml
  deliverables/victoria/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[kolla] Transition Victoria to EM
  deliverables/victoria/kayobe.yaml
  deliverables/victoria/kolla-ansible.yaml
  deliverables/victoria/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[xena] Release Horizon 20.1.2
  deliverables/xena/horizon.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.policy to fix gates
  deliverables/zed/oslo.policy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Puppet OpenStack] Create final stable/victoria release
  deliverables/victoria/puppet-aodh.yaml
  deliverables/victoria/puppet-barbican.yaml
  deliverables/victoria/puppet-ceilometer.yaml
  deliverables/victoria/puppet-cinder.yaml
  deliverables/victoria/puppet-cloudkitty.yaml
  deliverables/victoria/puppet-designate.yaml
  deliverables/victoria/puppet-ec2api.yaml
  deliverables/victoria/puppet-glance.yaml
  deliverables/victoria/puppet-gnocchi.yaml
  deliverables/victoria/puppet-heat.yaml
  deliverables/victoria/puppet-horizon.yaml
  deliverables/victoria/puppet-ironic.yaml
  deliverables/victoria/puppet-keystone.yaml
  deliverables/victoria/puppet-magnum.yaml
  deliverables/victoria/puppet-manila.yaml
  deliverables/victoria/puppet-mistral.yaml
  deliverables/victoria/puppet-neutron.yaml
  deliverables/victoria/puppet-nova.yaml
  deliverables/victoria/puppet-octavia.yaml
  deliverables/victoria/puppet-openstack_extras.yaml
  deliverables/victoria/puppet-openstacklib.yaml
  deliverables/victoria/puppet-oslo.yaml
  deliverables/victoria/puppet-ovn.yaml
  deliverables/victoria/puppet-placement.yaml
  deliverables/victoria/puppet-sahara.yaml
  deliverables/victoria/puppet-swift.yaml
  deliverables/victoria/puppet-tacker.yaml
  deliverables/victoria/puppet-vitrage.yaml
  deliverables/victoria/puppet-vswitch.yaml
  deliverables/victoria/puppet-watcher.yaml
  deliverables/victoria/puppet-zaqar.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Fix Releases Dashboard link
  doc/source/_exts/reviewinbox.py
Due: none

Replace old sdist and wheel build command in validate
  openstack_releases/pythonutils.py
  requirements.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release Oslo's independent deliverables
  deliverables/_independent/etcd3gw.yaml
  deliverables/_independent/futurist.yaml
  deliverables/_independent/openstack-doc-tools.yaml
  deliverables/_independent/oslo.concurrency.yaml
  deliverables/_independent/oslo.log.yaml
  deliverables/_independent/oslo.reports.yaml
  deliverables/_independent/osprofiler.yaml
  deliverables/_independent/pbr.yaml
  deliverables/_independent/taskflow.yaml
  deliverables/_independent/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Victoria for EM
  deliverables/victoria/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[OpenStackAnsible] Transition Victoria to EM
  deliverables/victoria/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Set Victoria status to Extended Maintenance
  data/series_status.yaml
Due: openstack-tox-validate

Bump neutron-lib to 2.21.0
  deliverables/zed/neutron-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create bugfix/8.6 for ipa
  deliverables/zed/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create bugfix/20.2 for ironic
  deliverables/zed/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Fix typo in build wheel command
  openstack_releases/pythonutils.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release OpenStack-Ansible Wallaby
  deliverables/wallaby/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Xena
  deliverables/xena/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Create pike-eol tag for Networking projects
  deliverables/pike/networking-odl.yaml
  deliverables/pike/networking-ovn.yaml
  deliverables/pike/networking-sfc.yaml
  deliverables/pike/neutron-dynamic-routing.yaml
  deliverables/pike/neutron-fwaas-dashboard.yaml
  deliverables/pike/neutron-fwaas.yaml
  deliverables/pike/neutron-lbaas-dashboard.yaml
  deliverables/pike/neutron-lbaas.yaml
  deliverables/pike/neutron-lib.yaml
  deliverables/pike/neutron.yaml
  deliverables/pike/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Oslo deliverables for Zed
  deliverables/zed/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Oslo deliverables for Xena
  deliverables/xena/oslo.service.yaml
  deliverables/xena/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-inspector 10.12.0 for zed
  deliverables/zed/ironic-inspector.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy 3.12.1 for Xena
  deliverables/xena/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy 3.7.4 for Wallaby
  deliverables/wallaby/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

kolla: release Yoga rc2
  deliverables/yoga/ansible-collection-kolla.yaml
  deliverables/yoga/kayobe.yaml
  deliverables/yoga/kolla-ansible.yaml
  deliverables/yoga/kolla.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update python testing as per zed cycle testing runtime
  setup.cfg
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Release oslo.log 5.0.0 to fix bugs
  deliverables/_independent/oslo.log.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release mistral-extra for Zed-1 milestone
  deliverables/zed/mistral-extra.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy for Zed-1 milestone
  deliverables/zed/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release python-troveclient for Zed-1 milestone
  deliverables/zed/python-troveclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tosca-parser for Zed-1 milestone
  deliverables/zed/tosca-parser.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Path conditions:
  releases-tox-list-changes: unless all of: ^data/.*$, ^doc/.*$
  releases-check-approval: any of: ^deliverables/.*$
  openstack-tox-validate: unless all of: ^doc/.*$
  openstack-tox-py36: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-py37: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-pep8: unless all of: ^data/.*$, ^deliverables/.*$, ^doc/.*$
  openstack-tox-bashate: any of: ^.*\.sh$
