Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-check-approval
    parent: openstack-tox
    files:
      - ^deliverables/.*$
    timeout: 360
    vars:
      tox_envlist: check_approval
      tox_extra_args: "{{ zuul.change }}"

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    experimental:
      jobs:
        - releases-check-approval
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Release ironic 14.0.0 for Ussuri
  deliverables/ussuri/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Remove coreos-image-builder references
  tools/build_tag_history.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

Release sushy 3.1.0
  deliverables/ussuri/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release vitrage 6.0.0 for Ussuri
  deliverables/ussuri/vitrage.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[swift] Ussuri milestone-2 release
  deliverables/ussuri/python-swiftclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.limit 1.0.0
  deliverables/ussuri/oslo.limit.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.reports 2.0.0
  deliverables/ussuri/oslo.reports.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.i18n 4.0.0
  deliverables/ussuri/oslo.i18n.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.upgradecheck 1.0.0
  deliverables/ussuri/oslo.upgradecheck.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.policy 3.0.0
  deliverables/ussuri/oslo.policy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.privsep 2.0.0
  deliverables/ussuri/oslo.privsep.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[Glance] Ussuri milestone 2 release
  deliverables/ussuri/glance.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release neutron-lib 2.1.0
  deliverables/ussuri/neutron-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add Eyal's review address to Vitrage liaisons
  data/release_liaisons.yaml
Due: openstack-tox-validate

Release vitrage-dashboard 3.0.0 for Ussuri
  deliverables/ussuri/vitrage-dashboard.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[cinder] Ussuri milestone-2 release
  deliverables/ussuri/python-brick-cinderclient-ext.yaml
  deliverables/ussuri/python-cinderclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Fix schedule generation instructions
  doc/source/reference/process.rst
Due: none

[heat] Ussuri milestone-2 release
  deliverables/ussuri/python-heatclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[zaqar] Ussuri milestone-2 release
  deliverables/ussuri/python-zaqarclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update the minversion parameter.
  tox.ini
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

First release of sushy-cli: 0.1.0 for Ussuri
  deliverables/ussuri/sushy-cli.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release new versions of Neutron deliverables for stable/stein
  deliverables/stein/networking-bagpipe.yaml
  deliverables/stein/networking-odl.yaml
  deliverables/stein/networking-ovn.yaml
  deliverables/stein/neutron-fwaas-dashboard.yaml
  deliverables/stein/neutron-lib.yaml
  deliverables/stein/neutron-vpnaas-dashboard.yaml
  deliverables/stein/neutron-vpnaas.yaml
  deliverables/stein/neutron.yaml
  deliverables/stein/python-neutronclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release new versions of Neutron deliverables for stable/train
  deliverables/train/networking-bagpipe.yaml
  deliverables/train/networking-bgpvpn.yaml
  deliverables/train/networking-ovn.yaml
  deliverables/train/neutron-fwaas.yaml
  deliverables/train/neutron-lib.yaml
  deliverables/train/neutron.yaml
  deliverables/train/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release sushy 2.0.2
  deliverables/train/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release cinder 16.0.0.0b1
  deliverables/ussuri/cinder.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

tripleo ussuri milestone 2 release
  deliverables/ussuri/os-apply-config.yaml
  deliverables/ussuri/os-net-config.yaml
  deliverables/ussuri/paunch.yaml
  deliverables/ussuri/puppet-tripleo.yaml
  deliverables/ussuri/python-tripleoclient.yaml
  deliverables/ussuri/tripleo-ansible.yaml
  deliverables/ussuri/tripleo-common.yaml
  deliverables/ussuri/tripleo-heat-templates.yaml
  deliverables/ussuri/tripleo-image-elements.yaml
  deliverables/ussuri/tripleo-operator-ansible.yaml
  deliverables/ussuri/tripleo-puppet-elements.yaml
  deliverables/ussuri/tripleo-validations.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[blazar] Ussuri milestone-2 release
  deliverables/ussuri/blazar-nova.yaml
  deliverables/ussuri/python-blazarclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update process with weekly email content
  doc/source/reference/process.rst
Due: none

Revert "First release of sushy-cli: 0.1.0 for Ussuri"
  deliverables/ussuri/sushy-cli.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add adjutant deliverables
  deliverables/ussuri/adjutant-ui.yaml
  deliverables/ussuri/adjutant.yaml
  deliverables/ussuri/python-adjutantclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

python-neutronclient 7.1.0 (Ussuri)
  deliverables/ussuri/python-neutronclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add Adrian's review address to adjutant liaisons
  data/release_liaisons.yaml
Due: openstack-tox-validate

python-openstackclient 5.0.0 (Ussuri)
  deliverables/ussuri/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Move tripleo-operator-ansible to indepdendent
  deliverables/_independent/tripleo-operator-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Proposed release schedule for Victoria (22w)
  data/series_status.yaml
  doc/source/index.rst
  doc/source/victoria/highlights.rst
  doc/source/victoria/index.rst
  doc/source/victoria/schedule.rst
  doc/source/victoria/schedule.yaml
Due: openstack-tox-validate

Release ussuri beta1 of neutron and related projects
  deliverables/ussuri/networking-bagpipe.yaml
  deliverables/ussuri/networking-bgpvpn.yaml
  deliverables/ussuri/networking-midonet.yaml
  deliverables/ussuri/networking-odl.yaml
  deliverables/ussuri/networking-sfc.yaml
  deliverables/ussuri/neutron-dynamic-routing.yaml
  deliverables/ussuri/neutron-fwaas.yaml
  deliverables/ussuri/neutron-vpnaas.yaml
  deliverables/ussuri/neutron.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

trivial - fix nits in script
  tools/bulk_review.sh
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

Update docs publishing job
  .zuul.yaml
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8
