Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-check-approval, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-check-approval
    parent: openstack-tox
    files:
      - ^deliverables/.*$
    timeout: 360
    vars:
      tox_envlist: check_approval
      tox_extra_args: "{{ zuul.change }}"

- project:
    templates:
      - openstack-python3-ussuri-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    experimental:
      jobs:
        - releases-check-approval
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py37:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

Add cycle-highlight to puppet-keystone
  deliverables/ussuri/puppet-keystone.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 'mistral-extra' 10.0.0 and 'mistral' ussuri-2
  deliverables/ussuri/mistral-extra.yaml
  deliverables/ussuri/mistral.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Glance 19.0.2
  deliverables/train/glance.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.utils 3.41.5
  deliverables/train/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update release liason for Swift
  data/release_liaisons.yaml
Due: openstack-tox-validate

Oslo releases for 2020-03-02
  deliverables/ussuri/oslo.cache.yaml
  deliverables/ussuri/oslo.db.yaml
  deliverables/ussuri/oslo.messaging.yaml
  deliverables/ussuri/oslo.serialization.yaml
  deliverables/ussuri/oslo.vmware.yaml
  deliverables/ussuri/tooz.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Cleanup rocky monasca-kibana-plugin
  deliverables/rocky/monasca-kibana-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add HSM ansible-roles to Ussuri
  deliverables/ussuri/openstack-ansible-roles.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release oslo.utils 3.40.6
  deliverables/stein/oslo.utils.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Update keystone liaison's email
  data/release_liaisons.yaml
Due: openstack-tox-validate

fix a nit
  deliverables/ussuri/puppet-keystone.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[cinder] Transition Rocky to EM
  deliverables/rocky/cinder.yaml
  deliverables/rocky/os-brick.yaml
  deliverables/rocky/python-brick-cinderclient-ext.yaml
  deliverables/rocky/python-cinderclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 2.1.0 of futurist
  deliverables/ussuri/futurist.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release stable branches for ironic
  deliverables/rocky/ironic.yaml
  deliverables/train/ironic.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release Designate 7.0.1
  deliverables/rocky/designate.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[designate] Transition Rocky to EM
  deliverables/rocky/designate-dashboard.yaml
  deliverables/rocky/designate.yaml
  deliverables/rocky/python-designateclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release virtualbmc 2.0.0 (independent)
  deliverables/_independent/virtualbmc.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release tenks 1.0.0 (independent)
  deliverables/_independent/tenks.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add recent release note links
  deliverables/rocky/mistral-extra.yaml
  deliverables/rocky/mistral-lib.yaml
  deliverables/stein/mistral-lib.yaml
  deliverables/train/barbican.yaml
  deliverables/train/cinderlib.yaml
  deliverables/train/kayobe.yaml
  deliverables/train/keystonemiddleware.yaml
  deliverables/train/kolla-ansible.yaml
  deliverables/train/kolla.yaml
  deliverables/train/mistral-lib.yaml
  deliverables/train/monasca-events-api.yaml
  deliverables/train/networking-bgpvpn.yaml
  deliverables/train/osc-lib.yaml
  deliverables/train/python-heatclient.yaml
  deliverables/train/python-troveclient.yaml
  deliverables/train/zaqar.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Add "closed" release cycles
  openstack_releases/cmds/validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Make sure -em tag is on last release
  openstack_releases/cmds/validate.py
  openstack_releases/deliverable.py
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

Don't allow tagging em or eol with no branch
  openstack_releases/cmds/validate.py
  openstack_releases/tests/test_validate.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py36, openstack-tox-py37, openstack-tox-pep8

[ironic] Transition Rocky to EM
  deliverables/rocky/bifrost.yaml
  deliverables/rocky/ironic-inspector.yaml
  deliverables/rocky/ironic-lib.yaml
  deliverables/rocky/ironic-python-agent.yaml
  deliverables/rocky/ironic-ui.yaml
  deliverables/rocky/ironic.yaml
  deliverables/rocky/networking-baremetal.yaml
  deliverables/rocky/networking-generic-switch.yaml
  deliverables/rocky/python-ironic-inspector-client.yaml
  deliverables/rocky/python-ironicclient.yaml
  deliverables/rocky/sushy.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[monasca] Transition Rocky to EM
  deliverables/rocky/monasca-agent.yaml
  deliverables/rocky/monasca-api.yaml
  deliverables/rocky/monasca-ceilometer.yaml
  deliverables/rocky/monasca-common.yaml
  deliverables/rocky/monasca-log-api.yaml
  deliverables/rocky/monasca-notification.yaml
  deliverables/rocky/monasca-persister.yaml
  deliverables/rocky/monasca-statsd.yaml
  deliverables/rocky/monasca-thresh.yaml
  deliverables/rocky/monasca-transform.yaml
  deliverables/rocky/monasca-ui.yaml
  deliverables/rocky/python-monascaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 0.42.0 of openstacksdk
  deliverables/ussuri/openstacksdk.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[nova] Updating release liaison
  data/release_liaisons.yaml
Due: openstack-tox-validate

Drop networking-generic-switch-tempest-plugin from rocky
  deliverables/rocky/networking-generic-switch-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release neutron-lib 2.2.0
  deliverables/ussuri/neutron-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Change order of event descriptions for Summit
  doc/source/victoria/schedule.rst
Due: none

Release 0.43.0 of openstacksdk
  deliverables/ussuri/openstacksdk.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release ironic-lib 4.1.0 for Ussuri
  deliverables/ussuri/ironic-lib.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila] Release 7.4.1 from stable/rocky
  deliverables/rocky/manila.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

[manila] Transition Rocky to EM
  deliverables/rocky/manila-ui.yaml
  deliverables/rocky/manila.yaml
  deliverables/rocky/python-manilaclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Fix Ussuri schedule notes regarding PTL elections
  doc/source/ussuri/schedule.rst
Due: none

Release OpenStack-Ansible Stein
  deliverables/stein/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release OpenStack-Ansible Train
  deliverables/train/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

python-troveclient 3.3.0 for Ussuri
  deliverables/ussuri/python-troveclient.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release os-testr 2.0.0
  deliverables/_independent/os-testr.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

Release 0.36.2 of openstacksdk for train
  deliverables/train/openstacksdk.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate

renderspec: Do 2.0.0 release
  deliverables/_independent/renderspec.yaml
Due: releases-tox-list-changes, releases-check-approval, openstack-tox-validate
